/**** Colors (recommended use HEX colors) ****/ 
$main-color: #004D43;
$default-color:#fff;
$dark-color: #000;

$body-bg-gradient-color-1: #004D43;
$body-bg-gradient-color-2:  #ccffcc;

$sidebar-bg-color:#006658; 
$sidebar-item-active-bg-color: #00AB4E;


$primary-color: #024a88;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;